<div class="apply-hero text-center">
    <div class="title">
        <h1>
            常见问答
        </h1>
    </div>

</div>

<div class="container">

    <div class="panel-group" id="accordion">

        <%= render :partial => "welcome/category", :collection => @categories, :as => :category %>

    </div>
</div>

<style></style>