<div class="overview-hero text-center"></div>

<div class="container overview">
    <div class="row">
        <div class="col-md-3">
            <%= render :partial => "welcome/overview_sidebar" %>
        </div>
        <div class="col-md-9">
            <h2>
                看看學生怎麼說
            </h2>

            <div class="testimonial">
              <%= render :partial => "students/testimonial" %>

            </div>

        </div>
    </div>
</div>
