<div class="overview-hero text-center"></div>

<div class="container overview projects">
    <div class="row">
        <div class="col-md-3">
            <%= render :partial => "welcome/overview_sidebar" %>
        </div>
        <div class="col-md-9">
            <h2>
                作品展示
            </h2>

            <div class="testimonial">
                <h3> 第一週團體作業 </h3>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">

                            <%= render :partial => "day_9" %>
                            <%= render :partial => "day_8" %>
                            <%= render :partial => "day_7" %>

                    
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
