<div class="overview-hero text-center"></div>

<div class="container overview">
    <div class="row">
        <div class="col-md-3">
            <%= render :partial => "welcome/overview_sidebar" %>
        </div>
        <div class="col-md-9">
            <h2>
                作品展示
            </h2>

            <div class="testimonial">

              <div class="row">
                                      <div class="col-md-offset-1 col-md-10">
                                          <div class="row">
                                              <a href="http://www.youtube.com/watch?v=k6mFF3VmVAs" data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-4">
                                                  <img src="//i1.ytimg.com/vi/yP11r5n5RNg/mqdefault.jpg" class="img-responsive">
                                              </a>
                                              <a href="http://youtu.be/iQ4D273C7Ac" data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-4">
                                                  <img src="//i1.ytimg.com/vi/iQ4D273C7Ac/mqdefault.jpg" class="img-responsive">
                                              </a>
                                              <a href="//www.youtube.com/embed/b0jqPvpn3sY" data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-4">
                                                  <img src="//i1.ytimg.com/vi/b0jqPvpn3sY/mqdefault.jpg" class="img-responsive">
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                                  
            </div>

        </div>
    </div>
</div>
