<div class="row">

  <div class="col-md-8 col-md-offset-2">

    <h2 class="text-center">课程 FAQ</h2>

    <h3>    Q：这个报了名就能上吗？</h3>

<p>   在您报名之后，我们往你登记的邮箱发送一份问卷，请您认真填写并发回给我们。我们会根据填写好的问卷进行下一阶段的甄选。目的是吸收有各色背景的有志向学的朋友。

</p>
    <h3>    Q：上课的时间地点是？</h3>


<p>
  7 / 25－9 / 15  周一到四 9:30 ~ 16:30。地址：北京市朝阳区国贸。

</p>

    <h3>  Q：这门课必须全职参与吗？</h3>

<p>

      是的。必须全职参与。请携带自己的 Mac 电脑（课程全程使用 Mac OS 系统教学，请确保自己熟悉 Mac OS 系统）、键盘。我们会准备荧幕以及其他办公用品。

</p>
    <h3>
        Q：这门课 0 编程基础可以报名参加吗？</h3>

    可以。但我们还是推荐具有基础 HTML ／ CSS 知识的人报名参加。若您之前没有相关背景知识，下课要加倍补上。本班教练具备丰富的经验，辅导过许多无计算机背景的学生成为职业 Rails 全栈工程师。编程最重要的是耐心以及积极，本科计算机知识不是必须项。不过因为课程需要阅读大量英文文档，所以我们要求您要有一定的英语水准（等同大学英语四级及以上）。

    <h3>    Q：这门课的最终成果是什么？
</h3>

<p>
  一个 SaaS 产品。但最重要的是「你」，具备能改变世界的编程能力的「全新的你」。

</p>



  </div>
</div>
