<div class="course-content-block teacher">
  <div class="container">

    <div class="row">

      <div class="col-md-5 col-md-offset-2 left-content">

          <div class="clearfix content-block">
              <h4>
                  知名 Rails 教练，世界黑客松首奖得主</h4>

              <div class="pull-left">
                  <%= image_tag("http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/xinsheng-full-stack/8c0c2ee3-3mz7iilv-400x400_02r02r02r02o000001.jpeg") %>
              </div>

              <div class="pull-left" style="padding:20px;">
                  <ul>
                      <li>郑伊廷</li>
                      <li>Taipei, Taiwan</li>
                      <li>http://blog.xdite.net</li>
                  </ul>
              </div>

          </div>

          <div class="clearfix content-block">

              <h4>
                  新东方英语名师，比特币首富，天使投资人</h4>

              <div class="pull-left">
                  <%= image_tag("http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/xinsheng-full-stack/7d980d67-xiaolai232323_02r02t02r02o000002.jpg") %>
              </div>

              <div class="pull-left" style="padding:20px;">
                  <ul>
                      <li>
                          李笑來</li>
                      <li>
                          Beijing, China</li>
                      <li>
                          http://xiaolai.li</li>
                  </ul>
              </div>

          </div>

      </div>


      <div class="col-md-4 cta-form right-content">
          <h2>10/17 加入改变世界的行列</h2>

          <p>请留下你的 Email ，进行第一阶段的报名初审。
          </p>
          <div class="row cta-button-block">
              <div class="col-md-6 col-md-offset-3 ">
                  <%= link_to("现在立刻报名", "#", :class => "btn btn-block btn-lg btn-success") %>
              </div>
          </div>
      </div>

    </div>

  </div>

</div>
