<div class="row course-content-block about-program">
    <div class="col-md-5 col-md-offset-4">
        <div class="normal-content">
            <h2 class="underline-title">关于新生大学 - 软件学院
            </h2>
            <p>新生大学 - 软件学院是李笑来对未来世界的实验计划。软件正在改变人类的未来，也在改变中国的未来。</p><p>未来需要更多程序员，而软件开发则是未来创造世界必备的技能。</p>

            <p>
              新生大学 - 软件学院将推出一系列的活动，改变中国的计算机教育。
            </p>

            <p>
                <strong style="text-decoration:underline;">两个月全栈工程师培训营</strong> &nbsp;  - 是我们第一个实验计划。
            </p>
        </div>
    </div>
</div>
