<div class="row course-content-block">
    <div class="col-sm-4">
        <h3 class="text-center">在 60 天内推出真实产品</h3>
        <p>这个课程只招收 20 名学生（共分 4 组）。最后成果会是 4 个 SaaS 产品。你会体验到真实开发且技能高速成长的新世界。</p>
    </div>
    <div class="col-sm-4">
        <h3 class="text-center">与强者共同成长的机会</h3>
        <p>这个班会由两岸知名的 Rails 教练 郑伊廷 Xdite 、天使投资人李笑来 Xiaolai 所主持。如此特殊的机会绝无仅有。</p>
    </div>
    <div class="col-sm-4">
        <h3 class="text-center">得到新生机会</h3>
        <p>团队最后的开发成果，将是你与开发团队的财产，你可以与队友组成产品团队，开拓自己的未来，改变自己的世界。</p>

    </div>
</div>
