<div class="row course-benefit course-content-block">
    <div class="col-sm-4">
        <div class="text-center">
          <img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/xinsheng-full-stack/1f96866f-goodbank-direct.png" alt="">
        </div>
        <h3 class="text-center">商业导向的授课内容</h3>
        <p>以构建一个 SaaS 服务为最终目标，借由课程推展进度，让学员逐渐学习到打造一个商业产品的重要技巧与观念。以及如何灵活利用 Rails 工具和生态圈，打造出可「直接上线」的商业服务。</p>
    </div>
    <div class="col-sm-4">
      <div class="text-center">
        <img src="      http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/xinsheng-full-stack/3870ca1a-goodbank-lock.png" alt="">
      </div>


        <h3 class="text-center">编程功力巨幅上升，变身神队友</h3>
        <p>课程间有大量的实作，首三周即能开发出具备成就感的初级作品。跳过枯燥的基础理论，实际操作以战养战开发商业产品。灵活运用敏捷开发项目管理技巧，初学者也能快速变身高效神队友。</p>
    </div>
    <div class="col-sm-4">

      <div class="text-center">
      <img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/xinsheng-full-stack/6920dffe-goodbank-low.png" alt="">
      </div>


        <h3 class="text-center">高速「成长」的未来轨道</h3>
        <p>从「Growth」观点出发，打磨出能够「高速成长」的个人编程学习轨道、产品爆发曲线。这个班的目的不是培养「码农」。而是激发出更多高速成长的产品战将。</p>

    </div>
</div>
