<div class="row course-content-block">
    <div class="text-center">
        <h2>课程大纲</h2>
    </div>
</div>
<div class="row syllabus">
    <div class="col-md-4  col-md-offset-2 content-block">
        <h3 class="text-center">
            Week 1-2
        </h3>
        <ul class="list">
            <li>Intro to Computational Thinking</li>
            <li>User Story & Story Planning</li>
            <li>Essential Agile Development 程序员有效沟通协作</li>
            <li>Git 版本控制与使用 Git 进行协作</li>
            <li>Rails 装机与基本 API 实战</li>
            <li>
                Bootstrap 套版实战</li>
            <li>HTML / CSS / JavaScript 基本技巧</li>
            <li>
                Git Continous Deployment</li>
            <li>Effective pair programming / code review / standup</li>
        </ul>
    </div>

    <div class="col-md-4  col-md-offset-1  content-block">
      <h3 class="text-center">
          Week 3-4
      </h3>
          <ul class="list">
            <li>Retrospetive meeting / After Action Review</li>
            <li>Rails 进阶程序设计</li>
            <li>
                Better View / Helper</li>
            <li>Better Controller / Model</li>
            <li>
                Integration with 3rd party API</li>
        </ul>
    </div>

</div>

<div class="row syllabus">
    <div class="col-md-4  col-md-offset-2  content-block">
        <h3 class="text-center">
            Week 5-6
        </h3>
      <ul class="list">
            <li>
                Rails 进阶程序设计</li>
            <li>
                Permission Design</li>
            <li>
                Integration Test with RSpec</li>
            <li>
                API design & Planning with RAML</li>
            <li>
                Billing System integration</li>
            <li>
                Multi-tenant Architecture</li>
        </ul>
    </div>

    <div class="col-md-4  col-md-offset-1  content-block">

        <h3 class="text-center">
            Week 7-8
        </h3>

        <ul class="list">
            <li>
                Rails 进阶程序设计</li>
            <li>
                Frontend Performance</li>
            <li>
                Backend Performance</li>
            <li>
                Security</li>
            <li>
                Product finalized skills
            </li>
            <li>
                Growth Hack - Landing Page design</li>
            <li>
                Growth Hack - Onboarding flow design</li>
        </ul>
    </div>

</div>
