


<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
          <%= render_faq_title(faq) %>
      </h4>
    </div>
    <div id="faq-<%= faq.id %>" class="panel-collapse collapse in">
        <div class="panel-body">
  <%= faq.content %>
        </div>
    </div>
</div>
