<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Is account registration required?</a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
            Account registration at <strong>PrepBootstrap</strong> is only required if you will be selling or buying themes.
            This ensures a valid communication channel for all parties involved in any transactions.
        </div>
    </div>
</div>
