<div class="apply-hero text-center">
    <div class="title">
        <h1>
            报名办法
        </h1>
    </div>

</div>

<div class="container apply">

    <div class="step">

        <div class="">
            <div class="stepwizard">
                <div class="stepwizard-row">
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-primary btn-circle">1</button>
                        <p>張貼工作內容</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle" disabled="disabled">2</button>
                        <p>預覽</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
                        <p>確定張貼</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
