<div class="apply-hero text-center">
    <div class="title">
        <h1>
            报名办法
        </h1>
    </div>

</div>

<div class="container apply">

    <div class="step">

          <%= render :partial => "steps/step_1_bar" %>


            <p class="step-desc">
                你張貼的工作會在這個網站上停留三十天，三十天過後這個徵才啟事會過期，你可以隨時再回來重新張貼工作廣告。
            </p>





    </div>
</div>
