<div class="overview-hero text-center"></div>

<div class="container">
    <div class="row">
        <div class="col-md-3">

            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="#section1">Overview</a>
                </li>
                <li>
                    <a href="#section2">Syallabus</a>
                </li>
                <li>
                    <a href="#section3">Section 3</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#section41">Section 4-1</a>
                        </li>
                        <li>
                            <a href="#section42">Section 4-2</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
        <div class="col-md-9">
            <h2 style="margin-top: 0px; ">
                Overview
            </h2>
            <p>
                新生大學全棧工程師培訓營，是新生大學軟體學院的第一個實驗計畫。</p>
            <p>
                這個計畫的目的是去打破過去傳統刻板的編程學習以及培訓途徑，且透過一系列的科學訓練。為未來培養出一批來能夠快速貫通通编程理念並靈活實踐的全棧工程師。
            </p>

            <br>
            <p>

                八週課程將融合包含以下主題
                <ul>
                    <li>Ruby on Rails</li>
                    <li>JavaScript</li>
                    <li>Agile</li>
                    <li>Growth Hack</li>

                </ul>

                進行極高強度的綜合實戰訓練。
            </p>

            <hr>
            <p>
                包含但不限定以下能力的培養：

                <ul>
                    <li>代碼架構設計</li>
                    <li>拆解未知問題並設計解決方案</li>
                    <li>敏捷項目管理</li>
                    <li>團隊協作溝通</li>
                    <li>產品運營成長</li>
                </ul>

            </p>
        </div>
    </div>
</div>