<div class="overview-hero text-center"></div>

<div class="container overview">
    <div class="row">
        <div class="col-md-3">
            <%= render :partial => "overview_sidebar" %>

        </div>
        <div class="col-md-9">
            <h2 style="margin-top: 0px; ">
                Overview
            </h2>
            <p>
                新生大学全栈工程师培训营，是新生大学软体学院的第一个实验计画。</p>
            <p>
                这个计画的目的是去打破过去传统刻板的编程学习以及培训途径，且透过一系列的科学训练。为未来培养出一批来能够快速贯通通编程理念并灵活实践的全栈工程师。
            </p>

            <br>
            <p>

                八周课程将融合包含以下主题
                <ul>
                    <li>Ruby on Rails</li>
                    <li>JavaScript</li>
                    <li>Agile</li>
                    <li>Growth Hack</li>

                </ul>

                进行极高强度的综合实战训练。
            </p>

            <hr>
            <p>
                包含但不限定以下能力的培养：

                <ul>
                    <li>代码架构设计</li>
                    <li>拆解未知问题并设计解决方案</li>
                    <li>敏捷项目管理</li>
                    <li>团队协作沟通</li>
                    <li>产品运营成长</li>
                </ul>

            </p>
        </div>
    </div>
</div>
