<div class="overview-hero text-center"></div>

<div class="container overview">
    <div class="row">
        <div class="col-md-3 sidebar">
            <%= render :partial => "overview_sidebar" %>
        </div>
        <div class="col-md-9">
            <h2>

授課教師
            </h2>

            <div style="padding: 20px;">

                    <%= image_tag("xdite.jpg", :width => 200 ) %>

                        <h3> Xdite 鄭伊廷 </h3>
            </div>

            <%= render :partial => "xdite_desc" %>

  
        </div>
    </div>
</div>
