<div class="stepwizard">
    <div class="stepwizard-row">

        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled">1</button>
            <p>下载报名表</p>

        </div>

        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled">2</button>
            <p>上传报名表</p>
        </div>

        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-circle">3</button>
            <p>等待第一阶筛选通知</p>

        </div>

    </div>
</div>
