<div class="apply-hero text-center">
    <div class="title">
        <h1>

报名上课
        </h1>
    </div>

</div>

<div class="container apply">

    <div class="step">

        <%= render :partial => "steps/step_1_bar" %>

        <p class="step-desc">
          報名期間： <span class="red"> 2016/09/05 - 2016/09/09 </span>，逾時不候。上一梯報名過於踴躍，請及早填寫上传。
        </p>


        <div class="text-center" style="padding: 20px; font-size: 20px; margin-bottom: 20px;">
          <%= link_to("下载报名表", "/fullstack-application.md", :class => "underline", :download => "fullstack-application.md") %>

        </div>
        <div class="text-center">
            <%= link_to("第二步 >>", new_student_path, :class => "btn btn-primary btn-lg") %>
        </div>
    </div>
</div>
