<div class="apply-hero text-center">
    <div class="title">
        <h1>
            报名办法
        </h1>
    </div>

</div>

<div class="container apply">

    <div class="step">

        <%= render :partial => "steps/step_3_bar" %>

        <p class="step-desc">
            感谢您的填写，我们将会在9/12公布第一阶段筛选结果。
        </p>

        <div class="text-center">
          <h3> 關注新生大學公眾號 </h3>
          <%= image_tag("qrcode_xinshengdaxue_1.jpg", :size => 200) %>
        </div>
    </div>
</div>
