<div class="apply-hero text-center">
    <div class="title">
        <h1>

报名上课
        </h1>
    </div>

</div>

<div class="container apply">

    <div class="step">

        <%= render :partial => "steps/step_3_bar" %>

        <p class="step-desc">
            感谢您的填写，我们将会在9/12公布第一阶段筛选结果。
        </p>

        <div class="text-center">
          <h4> 有任何報名問題，歡迎聯絡報名負責人 EVE 微信號 </h4>
          <%= image_tag("qrcode_eve.jpg", :size => 200) %>
        </div>
    </div>
</div>
