/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
@import "bootstrap-sprockets";
@import "bootstrap";
.navbar {
    margin-bottom: 0;
}
.navbar-header {
    height: 95px;
}
.navbar-brand {
    padding: 0;
    /* firefox bug fix */
}
.navbar-brand > img {
    padding: 10px;
    /* firefox bug fix */
    width: auto;
}
.navbar-default {
    background-color: white;
    border-color: white;
}
.navbar-brand,
.navbar-nav li {
    a {
        line-height: 95px;
        height: 95px;
        padding-top: 0;
    }
}
.hero {
    background: linear-gradient( rgba(36,65,75,0.9), rgba(36,65,75,0.9) ), url("//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/xinsheng-full-stack/7b8ebd22-goodbank-heroshot.png");
    display: block;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    border-radius: 0;
    width: 100%;
    min-height: 288px;
    position: relative;
    color: white;
    .cta-button{
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 10px;
      padding-right: 10px;
    }
}
.hero-title {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    h1 {
        font-size: 48px;
    }
    p {
        padding-top: 10px;

        font-size: 18px;
    }
}

.course-content-block{
    margin-top: 30px;
}

.course-benefit{

  h3{
    font-size: 22px;
    color:#42899d;
    padding: 10px;
  }
  p{
    font-size: 14px;
  }
}

.ideal-students{
  h2{
    color:#42899d;
    border-bottom: 3px solid #42899d;
    padding-bottom: 10px;
    width: 80%;
    margin:auto;
  }

  .description{
    margin-top: 30px;
    font-size: 18px;
  }
}
